.title .well h {
  color: darkmagenta;
  padding: 10px;
  margin: 2px;
  border: 2px darkslateblue;
}
.title .well p {
  color: rgb(1, 20, 1);
  padding: 10px;
  margin: 2px;
}
.title .well {
  background-image: linear-gradient(#010110, #031f53, #5ffbf1);
  color: green;
}
img {
  padding: 10px;
  margin: 2px;
}
.nav {
  display: block;
  padding: 10px;
  margin: 2px;
}