.jumbotron h2 {
  color: red;
}
img {
  float: right;
}
h1 {
  color: blueviolet;
}
.title .well p {
  background-color: palegreen;
  border: 2px rgb(84, 30, 210);
}
.container .jumbotron p .highlight {
  background-color: paleturquoise;
  color: rgb(255, 0, 212);
  padding: 10px;
  margin: 10px;
}